<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <img src="./../../../assets/img/contact-us/contact.jpg" alt="Contactanos image" width="100%">
    </div>
    <div class="col-6 text-center">
      <h1 id="title-contact">Contactanos</h1>
      <img src="./../../../assets/img/contact-us/LOGO proyecto.png" alt="" width="20%">
      <hr>
      <p id="message-contact">¡Nos encantaría escucharte! Si deseas ponerte en contacto con nosotros, puedes hacerlo a
        través de nuestros
        canales en redes sociales o por correo electrónico. Estamos aquí para responder tus preguntas, atender tus
        comentarios o cualquier otra consulta que puedas tener.

        No dudes en escribirnos a las siguientes direcciones de correo electrónico o visitar nuestras redes sociales
        para mantenernos en contacto:</p>
      <div class="row">
        <span><i class="fa-solid fa-envelope fa-2xl"></i> edriball@gmail.com</span>
        <br><br>
        <span><i class="fa-solid fa-envelope fa-2xl"></i> isabella.gomez.3097@miremington.edu.co</span>
      </div>
    </div>
  </div>
</div>
