<div class="container-fluid">
  <div class="row">

    <div class="col-8">
      <img src="./../../../assets/img/about-us/mision.jpg" alt="" width="70%">
    </div>
    <div class="col-4">
      <h1 class="text-center" id="mision">Misión</h1>
      <p>Facilitar el crecimiento y la eficiencia del sector agrícola colombiano a través de la implementación de un
        sistema de información integral y accesible. Nuestro compromiso es proporcionar datos actualizados y fiables
        sobre prácticas agrícolas, clima, insumos y otros factores relevantes para respaldar la toma de decisiones
        informadas en los procesos productivos.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <h1 class="text-center" id="vision">Visión</h1>
      <p>Ser el referente líder en soluciones tecnológicas para el sector agrícola en Colombia, contribuyendo al
        desarrollo sostenible y la competitividad de los productores agropecuarios. Aspiramos a ser reconocidos por la
        excelencia en la gestión de información y la interacción colaborativa entre los actores clave del sector.</p>
    </div>
    <div class="col-7">
      <img src="./../../../assets/img/about-us/vision.jpg" alt="" width="70%">
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">Objetivos</h2>
    <div class="col-4">
      <h1 class="text-center">General</h1>
      <p>Implementar un sistema de información centralizado y accesible que proporcione información actualizada y
        confiable sobre prácticas agrícolas, clima, insumos y otros factores relevantes para la toma de decisiones
        informadas en los procesos productivos del sector agrícola colombiano.</p>
    </div>
    <div class="col-4">
      <img src="./../../../assets/img/about-us/granja.jpg" alt="" width="100%">
    </div>
    <div class="col-4">
      <h2 class="text-center">Especificos</h2>
      <li>Desarrollar un sistema de información que permita gestionar el proceso de compra de suministros por parte de
        los productores agropecuarios a sus proveedores.</li>
      <li>Implementar un módulo en el sistema de información que permita la interacción entre los productores
        agropecuarios y profesionales en el sector agropecuario para resolver inquietudes que se puedan presentar en su
        quehacer.</li>
      <li>Desarrollar un componente de gestión de inventarios para los proveedores de suministros agrícolas.</li>
    </div>
  </div>
</div>
