<!--Navbar para admin-->
<nav class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">

      <a routerLink="landingPage" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <i class="fas fa-solid fa-house fa-fw me-3"></i><strong>Inicio</strong></a>

      <a routerLink="admin" class="list-group-item list-group-item-action py-2 ripple" *ngIf="rol =='admin'">
        <i class="fas fa-solid fa-user-astronaut fa-fw me-3"></i><strong>Administrador</strong></a>

      <a routerLink="decision-tree" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fa-sharp fa-solid fa-square-root-variable"
          style="color: green;"></i><strong>&emsp;Decisión</strong></a>

      <a routerLink="farmer" class="list-group-item list-group-item-action py-2 ripple" *ngIf="rol =='admin'"><i
          class="fas fa-solid fa-user fa-fw me-3"></i><strong>Granjero</strong></a>

      <a routerLink="consultant" class="list-group-item list-group-item-action py-2 ripple" *ngIf="rol =='admin'"><i
          class="fas fa-solid fa-user-doctor fa-fw me-3"></i><strong>Consultor</strong></a>

      <a routerLink="farming" class="list-group-item list-group-item-action py-2 ripple">
        <i class="fas fa-solid fa-tractor fa-fw me-3"></i><strong>Agricola</strong></a>

      <a routerLink="livestock" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-solid fa-cow fa-fw me-3"></i><strong>Pecuario</strong></a>

      <a routerLink="familyBasket" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-regular fa-money-bill-1 fa-fw me-3"></i><strong>Precios</strong></a>

      <a routerLink="company" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-solid fa-building fa-fw me-3"></i><strong>Empresas</strong></a>

      <a routerLink="news" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-regular fa-newspaper fa-fw me-3"></i><strong>Noticias</strong></a>

      <a routerLink="city" class="list-group-item list-group-item-action py-2 ripple" *ngIf="rol =='admin'"><i
          class="fas fa-solid fa-city fa-fw me-3"></i><strong>Ciudades</strong></a>

      <a routerLink="consult" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-regular fa-circle-question fa-fw me-3"></i><strong>Consulta</strong></a>

      <a routerLink="job" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-solid fa-briefcase fa-fw me-3"></i><strong>Empleo</strong></a>

      <a routerLink="farm" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-building fa-fw me-3"></i><strong style="color: red;">Finca</strong></a>

      <a routerLink="product" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-brands fa-product-hunt fa-fw me-3"></i><strong style="color: red;">Producto</strong></a>

      <a routerLink="services" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-solid fa-truck-front fa-fw me-3"></i><strong style="color: red;">Servicios</strong></a>
    </div>
  </div>
</nav>
