/*Se importa el uso de bootstrap para todo el proyecto*/
@import "~bootstrap/dist/css/bootstrap.css";

/*Fuente de Google*/
body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
}
html,
body {
  height: 100%;
}
