<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('./../../../assets/img/auth/fondo-auth.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->
  <div class="card mx-4 mx-md-5 shadow-5-strong">
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-8">
          <!-- Titulo del formulario -->
          <h2 class="fw-bold mb-5">Recuperar contraseña</h2>
          <form ngNativeValidate [formGroup]="form" (ngSubmit)="recoverPw()">
            <!-- Campo de cedula -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Numero de cedula</label>
              <input type="number" id="form3Example3" class="form-control" formControlName="document" required />
            </div>

            <!-- Campo de correo electronico -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example4" >Correo electronico</label>
              <input type="email" id="form3Example4" class="form-control" formControlName="email" required />
            </div>

            <!-- Boton de envio -->
            <button type="submit" class="btn btn-success btn-block mb-4">
              Solicitar
            </button>
            <button routerLink="../auth" type="button" class="btn btn-danger btn-block mb-4">
              Cancelar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
